{# TEMPLATE/INDEX.HTML #}
{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
    <center><h1 class="display-4">PaaS czy laaS - po co wybierać?</h1>
    <p class="lead">Elastyczność i wygoda dla programisty, kontrola i wszechstronność dla administratora.</p>
    <hr class="my-4">
    {% if current_user.is_authenticated %}
    <span class="btn btn-primary btn-lg">Witam, zalogowałeś się jako: <b>{{current_user.username}}</b></span></center>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('users.register')}}" role="button">Zarejestruj się!</a></center>
    {% endif %}
  </div>
  <div class="container">
    {% for post in blog_posts.items %}
      <div class="card">
        <div class="card-body">
          <h2><a class='card-title' href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">{{post.title}}</a> </h2>
          Nick: <a href="{{url_for('users.user_posts', username=post.author.username)}}"><b>{{post.author.username}}</b></a></br>
          Data: <b>{{ post.date.strftime('%Y-%m-%d') }}</b></p>
          <p class="card-text">{{ post.text[:300] }}...</p>
          <a class="btn btn-primary" href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">Read Blog Post</a>
        </div>
      </div>

    {% endfor %}
  </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

              {% if blog_posts.page == page_num %}
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
              </li>

              {% else %}
              <li class="page-item">
                <a class="page-link" href="{{url_for('core.index',page=page_num)}}">{{page_num}}</a>
              </li>
              {% endif %}

            {% endfor %}
          </ul>
        </nav>

{% endblock %}
