{# templates/login.html #}

{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  <center>
  <h1 class="display-4">Zaloguj się!</h1>
  <hr class="my-3">
  <p class="lead">Podaj swoje dane aby się zalogować! </p>
  </center>
  </div>

  <div class="container">

   <form method="POST">
     {{ form.hidden_tag() }}
     <div class="col-md-5 mb-2">
       {{form.email.label}}{{form.email( class="form-control is-invalid" )}}
     </div>
     <div class="col-md-5 mb-2">
       {{form.password.label}}{{form.password( class="form-control is-invalid" )}}
     </div>
     <div class="col-md-5" align="right">
       {{ form.submit( class='btn btn-primary btn-lg' ) }}
     </div>
   </form>
{% endblock %}
